<div class="layout-column layout-align">
{{#paper-card as |card|}}
  {{card.image size="lg" src=story.thumbnailImg alt="Book" title="Book"}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{story.name}}{{/text.headline}}
    {{/title.text}}
  {{/card.title}}
  {{#card.content}}
    <p>{{story.storyDescription}}</p>
  {{/card.content}}
  {{#card.actions}}
    {{#paper-button}}Edit{{/paper-button}}
    {{#paper-button}}Delete{{/paper-button}}
  {{/card.actions}}
{{/paper-card}}
</div>