<div class="layout-align-center">
{{#paper-card as |card|}}
  {{#card.title as |title|}}
    {{#title.text as |text|}}
      {{#text.headline}}{{story.name}}{{/text.headline}}
      {{#text.subhead}}{{story.creator}}{{/text.subhead}}
      {{#text.subhead}}{{story.storyDescription}}{{/text.subhead}}
    {{/title.text}}
    {{title.media size="lg" src=story.thumbnailImg alt="Book" title="Book"}}
  {{/card.title}}
  {{#card.actions}}
    {{#paper-button}}Delete{{/paper-button}}
  {{/card.actions}}
{{/paper-card}}
</div>